
<div *ngIf="isMainInfoEditMode">
    <form #updateTripForm="ngForm">
        <input required name="title" localize="tripTitlePlaceholder" [(ngModel)]="editedTrip.title" />
        <textarea name="description" localize="tripDescriptionPlaceholder" [(ngModel)]="editedTrip.description"></textarea>
        
        <button [disabled]="!updateTripForm.form.valid" localize="updateButton" (click)="updateMainInfo()"></button>
        <button localize="cancelEditButton" (click)="cancelEdit()"></button>
    </form>
</div>
<div *ngIf="!isMainInfoEditMode">
    <button *ngIf="isEditAllowed" localize="editButton" (click)="editTrip()"></button>

    Title:
    <h1>{{ trip.title }}</h1>
    Description:
    <p>{{ trip.description }}</p>
</div>

Invitations
<input type="text" localize="enterInvitePhone" name="newPhone" [(ngModel)]="newPhone"/>
<button (click)="addInvite()" localize="addInviteButton"></button>
<p *ngFor="let invite of invitePhones">{{ invite }}</p>
<button (click)="sendInvites()" localize="sendInvitesButton"></button>

<hr/>

Users
<div *ngFor="let user of trip.users">
    {{ user.userName }}
    
    Cars
    <div *ngFor="let car of user.cars">
        {{ car.name }}
    </div>
</div>

<chat></chat>

<button *ngIf="isEditAllowed && !isRouteEditMode" localize="editButton" (click)="editRoute()"></button>
<button *ngIf="isEditAllowed && isRouteEditMode" localize="cancelEditButton" (click)="cancelRouteEdit()"></button>
<button *ngIf="isEditAllowed && isRouteEditMode" localize="updateButton" (click)="updateRoute()"></button>
MAP
<map [isReadOnlyMode]="!isRouteEditMode"></map>

<div *ngIf="trip.tripRoute">
    Distance
    <div>{{ trip.tripRoute.distance }}</div>
</div>