<div class="page-header" *ngIf="!isMainInfoEditMode">
    <h1>{{ trip.title }}</h1>
    <p>{{ trip.description }}</p>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#participants" localize="tripParticipantsTabTitle"></a></li>
            <li><a href="#chat" localize="tripChatTabTitle"></a></li>
            <li><a href="#map" localize="tripMapTabTitle"></a></li>
        </ul>

        <div class="tab-content">
            <div id="participants" class="tab-pane fade active in">
                <chat></chat>
                <!--<trip-participants></trip-participants>-->
            </div>

            <div id="chat" class="tab-pane fade">
                <chat></chat>
            </div>

            <div id="map" class="tab-pane fade">
                <!--<map [isReadOnlyMode]="!isRouteEditMode"></map>-->
            </div>
        </div>
    </div>
</div>

