<h1 localize="newTripPageTitle"></h1>

<form #newTripForm="ngForm" (ngSubmit)="onSubmit()">
    <input required name="title" localize="tripTitlePlaceholder" [(ngModel)]="model.title"/>
    <input name="map" localize="tripMapPlaceholder" [(ngModel)]="model.mapUrl" />
    <textarea name="description" localize="tripDescriptionPlaceholder" [(ngModel)]="model.description"></textarea>
    
    <map></map>
    
    <button [disabled]="!newTripForm.form.valid" localize="createButton"></button>
</form>

