<h1 localize="newTripPageTitle"></h1>

<form #newTripForm="ngForm">
    <input required name="title" localize="tripTitlePlaceholder" [(ngModel)]="newtrip.title"/>
    <textarea name="description" localize="tripDescriptionPlaceholder" [(ngModel)]="newtrip.description"></textarea>
    
    <div *ngIf="newtrip.tripRoute">
        Distance {{ newtrip.tripRoute.distance }} <br/>
        Estimated Time {{ newtrip.tripRoute.time }}
    </div>

    <map></map>
    
    <button [disabled]="!newTripForm.form.valid" localize="createButton" (click)="onSubmit()"></button>
</form>

