<h1>{{ 'loginPageTitle' | translate }}</h1>

<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <input required id="email" name="email" [(ngModel)]="model.email" type="text" placeholder="{{ 'emailPlaceholder' | translate }}"/>
    <input required id="password" name="password" [(ngModel)]="model.password" type="password" placeholder="{{ 'passwordPlaceholder' | translate }}" />
    
    <input type="submit" value="{{ 'loginPageTitle' | translate }}" [disabled]="!loginForm.form.valid"/>
</form>

{{ 'dontHaveAccount' | translate }} <a [routerLink]="['/register']">{{ 'registrPageTitle' | translate }}</a>