<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Travel Planner</a>
            <a class="navbar-brand" href="javascript: " *ngIf="isLoggedIn()" (click)="showUserInfo()">Hello, {{ getUserName() }}</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">{{ 'homePageTitle' | translate }}</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/mytrips']">{{ 'myTripsPageTitle' | translate }}</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/invitedtrips']">{{ 'invitedTripsPageTitle' | translate }}</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/maptest']">MapTest</a>
                </li>
                <li *ngIf="isLoggedIn()">
                    <a (click)="logout()">
                        {{ 'logout' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
